name: portfolio

services:
  astro:
    build: .
    ports:
      - "8080:80"
    restart: always
    environment:
      - NODE_ENV=production
    networks:
      - nginx

networks:
  nginx:
    name: nginx
    external: true
