name: Deploy to Hetzner

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Install SSH keys
      run: |
        env
        mkdir -p ~/.ssh
        echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_ed25519
        chmod 600 ~/.ssh/id_ed25519
        ssh-keyscan -H ${{secrets.SSH_HOST}} > ~/.ssh/known_hosts

    - name: Copy files to VPS
      run: "rsync -avz --delete ./ ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }}:/home/${{ secrets.SSH_USER }}/astro"

    - name: Deploy docker container
      run: ssh ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }} "cd ~/astro && docker compose up -d && exit"

    - name: Cleanup
      run: rm -rf ~/.ssh
      
